<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 147, "stickySetTop": "-147px", "stickyChangeLogo": false}'>
<div class="header-body">
<div class="header-top">
    <div class="container">
        <div class="dropdowns-container">

            {% if page.language_switcher %}
            <div class="header-dropdown lang-dropdown">
                <a href="#">{{ name_language }} <i class="fa fa-caret-down"></i></a>

                <ul class="header-dropdownmenu">
                    {{ page.language_switcher }}
                </ul>
            </div>
            {% endif %}

        </div>
        {% if page.nav_top %}
        <div class="top-menu-area">
            {{ page.nav_top }}
        </div>
        {% endif %}

    </div>
</div>
<div class="header-container container">
    <div class="header-row">
        {% if logopath %}
        <div class="header-column">
            <div class="header-logo">
                <a href="{{ front_page }}">
                    <img alt="Porto" width="111" height="51" src="{{ logopath }}">
                </a>
            </div>
        </div>
        {% endif %}
        <div class="header-column">
            <div class="row">
                <div class="cart-area">
                    {% if page.nav_bottom %}
                    <div class="custom-block">
                        {{ page.nav_bottom }}
                    </div>
                    {% endif %}

                    <div class="cart-dropdown">
                        <a href="#" class="cart-dropdown-icon">
                            <i class="minicart-icon"></i>
												<span class="cart-info">
													<span id="cart-qty" class="cart-qty">0</span>
													<span class="cart-text">item(s)</span>
												</span>
                        </a>

                        <div class="cart-dropdownmenu right">
                            <div class="dropdownmenu-wrapper">
                               {{ page.cart }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if page.search %}
                    <div class="header-search">
                        <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
                        <div class="header-search-wrapper">
                            {{ page.search }}
                        </div>
                    </div>
                {% endif %}
                <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% if page.primary_menu %}
<div class="header-container header-nav">
<div class="container">
<div class="header-nav-main">
<nav>
    {{ page.primary_menu }}
</nav>
</div>
</div>
</div>
{% endif %}
</div>
</header>
{% if page.menu_mobile %}
<div class="mobile-nav">
<div class="mobile-nav-wrapper">
    <ul class="mobile-side-menu">
        {{ page.menu_mobile }}
    </ul>
</div>
</div>
{% endif %}
<div id="mobile-menu-overlay"></div>